* {
    box-sizing: border-box;
}


.game_over {
    position: absolute;
    margin-top: 96px;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    /*display: flex;
    justify-content: center;
    align-items: center;
    */
    opacity: 0;
    /*flex-wrap: wrap;
    */
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}


.menu {
    position: absolute;
    margin-top: 96px;
    z-index: 5;
    background-color: rgb(0, 0, 0);
    /*display: flex;
    justify-content: center;
    align-items: center;
    */
    opacity: 1;
    /*flex-wrap: wrap;
    */
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}


.divVisible {
    opacity: 1;
    /*z-index: 8;*/
}

.divInvisible {
    opacity: 0;
}

div h1 {
    margin-top: 45%;
    color: white;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}

/*btn_background*/
.effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #fff;
    outline: solid 2px #fff;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
}

.effect04::before,
.effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
}


.effect04:hover {

    background-color: #fff;
}

.effect04:hover span {
    -webkit-transform: translateY(-400%) scale(-0.1, 20);
    transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
    content: attr(data-sm-link-text);
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1, 20);
    transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
}